<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Confirmacion Compra</title>
</head>
<body>
    <h1>Confirmacion de Curso comprado</h1>
    <h2>{{usuario.usuario}} es un gusto comunicarle que el Curso {{curso.titulo}} a sido comprado con éxito</h2>
    <!--{% set url = 'img/portadas/' + curso.id|string + '.jpg' %}
    <img class="card-img-top" src="{{ url_for('static', filename='https://www.imprentaonline.net/blog/prompt-imagenes-ia/') }}" height="320" alt="{{ curso.titulo }}">
-->
    </body>
</html>
