{% extends "./base.html" %}

{% block title %} Computing Store {% endblock%}

{% block customCSS%}
  <link rel="stylesheet" href="{{url_for('static', filename='css/principal.css')}}">

{% endblock%}

{% block body%}

    <img src="{{ url_for('static', filename='img/logo_sin.png') }}" alt="Tienda de Cursos Logo" class="mb-4" width="380" height="400">
    <h1 class="h3 mb-3 fw-normal">Tienda de Cursos de Computación Online</h1><br>
    <div class="d-flex flex-column flex-md-row justify-content-center align-items-center mt-4 gap-4">
        <a href="{{ url_for('login') }}" class="btn btn-custom btn-custom-primary">Iniciar sesión</a>
        <a href="{{ url_for('sing_up') }}" class="btn btn-custom btn-custom-primary">Regístrate</a>
    </div>



  {% block customJS%} 
    <script src="{{url_for('static', filename='js/login.js')}}">
  {% endblock %}



{% endblock %}


